*
!.gitignore
!README.md
!DEVELOPMENT.md
!LICENSE
!deploy.sh
!lint.sh
!.github/
!.github/workflows/
!.github/workflows/**
!custom_components/
!custom_components/ir_fan_control/
!custom_components/ir_fan_control/**
custom_components/ir_fan_control/DO_NOT_EDIT_HERE.txt
